html.Ω {
  overflow-y: overlay;
  overflow-x: hidden;
}


.Ω ytd-watch-flexy[theater] #full-bleed-container {
  min-height: 100vh !important;
}
.Ω ytd-watch-flexy[theater] .html5-video-player {
  display: flex;
  align-items: center;
}
.Ω ytd-watch-flexy[theater] .html5-main-video {
  top: initial !important;
  position: relative !important;
}
/*.Ω ytd-watch-flexy[theater] #player-theater-container {*/
/*.Ω #player-wide-container:has(#player-container) {
  height: 100vh !important;
  max-height: initial !important;
  min-height: initial !important;
}*/

.Ω ytd-app:has(ytd-watch-flexy[theater]) #masthead-container.ytd-app:not([miniplayer-is-active]) {
  opacity: 0;
  transition: opacity .2s 2s;
}

.Ω .ytp-gradient-bottom { display: none }

.Ω #masthead-container.ytd-app:hover {
  opacity: 1 !important;
  transition-delay: 0s !important;
}

.Ω #page-manager.ytd-app {
  margin-top: 0;
}

.Ω .caption-window {
  opacity: var(--ytfs-caption-opacity, .9);
  /* mix-blend-mode: multiply; */
  background: var(--ytfs-caption-window-bg, none !important);
  text-shadow: var(--ytfs-caption-window-text-shadow, 1px 1px 5px black, 1px 1px 5px black, 1px 1px 5px black, 1px 1px 5px black, 1px 1px 5px black);
}

.Ω .ytp-caption-segment {
  color: #ffffffd9 !important;

  background: var(--ytfs-caption-segment, rgba(0,0,0,.4)) !important;
  border-radius: var(--ytfs-caption-segment-border-radius, 5px);
}

.Ω .ytp-play-progress {
  background: var(--ytfs-play-progress-bg, rgb(0, 239, 255));
}
.Ω .ytp-scrubber-button {
  background: var(--ytfs-scrubber-button, rgb(0, 239, 255));
}
